

<div>
    <p-card class="flex justify-content-center" [style]="{width: '90%'}" styleClass="p-card-shadow">
        <br>
        <img alt="Card" class="img-log" src="/assets/logo_grau.svg" style="width: 85%;margin: auto; display: block;">
        <div *ngIf="sistema.valor == 1">
            <form method="post">
                <h2 style="text-align: center;margin-top: -0rem;margin-bottom: 0;">{{titulo}}</h2>
                <div class="grid p-fluid">
                    <!--<div class="col-12 md:col-3"></div>-->
                    <div class="col-12 md:col-6">
                        <h3>Usuario</h3>
                        <input autocomplete="off" [(ngModel)]="usuario.username" type="text" name="username" id="username" pInputText placeholder="Usuario" autofocus required> 
                    </div>
                    <div class="col-12 md:col-6">
                        <h3>Contraseña</h3>
                        <input autocomplete="off" [(ngModel)]="usuario.password" type="password" name="password" id="password" pInputText placeholder="Contraseña" required> 
                    </div>
                </div>
            </form>
            <br>
            <p-button styleClass="p-button-lg p-button-outlined p-button-rounded " class="flex justify-content-center" type="submit" (click)="login()" label="Iniciar Sesión" icon="pi pi-user-plus"></p-button>

            <p>V 4.0.0 - La licencia del SISTEMA DE PAGO DE SERVICIOS YAWAR TECH SAC.</p>

            <p-dialog position="bottom-right" header="Actualizaciones DEL SISTEMA DE PAGO DE SERVICIOS YAWAR TECH SAC V 4.0.0 (15/06/2024)" [(visible)]="displayResponsive" [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}"
                [draggable]="false" [resizable]="false">
                <ul>
                    <li>Reporte de cumpleaños por fechas (Menu > Reportes > Colegiados > Cumpleaños de colegiados).</li>
                    <li>Credenciales del Portal del Colegiado (Menu > Usuarios > Usuarios de Portal del Agremiado).</li>
                    <li>Actualización de fotos de los colegiados (Buscar Colegiado > Editar > Eliminar Foto > Actualizar Foto).</li>
                    <li>Actualización de horario de atención (De 6:00 AM - 18:59PM a horario sin restricción para poder subir comprobantes).</li>
                    <li>Creación del nuevos servicios para el NUEVO PORTAL DEL AGREMIADO(https://portal.icacperu.org.pe/).</li>
                </ul>
                    <ng-template pTemplate="footer">
                    <p-button (click)="displayResponsive=false" label="Aceptar" styleClass="p-button-text"></p-button>
                    </ng-template>
            </p-dialog>

            <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-circus" [fullScreen] = "true"><p style="color: white" > Cargando Yawar Tech... </p></ngx-spinner>
        </div>

        <div *ngIf="sistema.valor != 1">
            <form method="post">
                <h2 style="text-align: center;">SISTEMA BLOQUEADO - SIN LICENCIA</h2>
                <div class="grid p-fluid">
                    <!--<div class="col-12 md:col-3"></div>-->
                    <div class="col-12 md:col-6">
                        <h3>Comuniquese con YAWAR TECH SAC</h3>
                    </div>
                    <div class="col-12 md:col-6">
                        <h3>Contactos: 938 863 181 - 946 731 207</h3>
                    </div>
                </div>
            </form>
        </div>
    </p-card>
</div>
